:root {
    /* Colors */
    --primary-color: #FCFCFC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Ubuntu", sans-serif;
}

header p {
    font-size: 1.8rem;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 25%;
    background-color: var(--primary-color);
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 3rem;
}

.title p {
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 10px;
}
.title a {
    padding-bottom: 2rem;
}
.info {
    display: flex;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 20px;
}
.input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #5A5F70;
}
.link {
    color: red;
    text-decoration: underline;
}

input {
    border: none;
    outline: none;
}

.input-wrapper-email{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid red;
}
.input-wrapper img {
    padding-right: 10px;
}
.input-wrapper-email img {
    padding-right: 10px;
}
div {
    padding: 10px;
    align-self: center;
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

label {
    font-weight: 600;
}

button {
    background-color: red;
    color: var(--primary-color);
    width: 80%;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    align-self: center;
}