:root {
    /* Colors */
    --primary-color: #1C202E;
    --secondary-color: #ABAEB7;
    --white: #fff;
    --off-white: #f9f9f9;
    --dif-white: #f1f1f1;
    --dark-gray: #333;
    --gray: #757A88;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Ubuntu", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 2rem
}

.filters {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.title {
    padding: 0 2rem 0 2rem ;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container ::placeholder {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--secondary-color);
}

#searchInput {
    padding: 1.2rem 1.6rem 1.2rem 1.6rem;
    font-size: 1.6rem;
    border-color: var(--secondary-color);
    border-radius: 5px;
}

.magnifier-icon {
    position: absolute;
    right: 10px;
    width: 1.5rem;
    height: 1.5rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    padding: 1.2rem 1.6rem 1.2rem 1.6rem;
    font-size: 1.6rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    color: var(--secondary-color);
}

.filter-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 4rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--off-white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 1.6rem;
}

.dropdown-content button:hover {
    background-color: var(--dif-white);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cards-section {
    max-width: 1200px;
    margin: 1rem auto;
    text-align: center;
    padding: 20px;
}

.title h1 {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 4.8rem; 
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card {
    background-color: var(--white);
    border-radius: 1rem;
    overflow: hidden;
    width: calc(33.333% - 2rem);
    display: flex;
    flex-direction: column;
    position: relative; 
    padding-top: 20px;
    padding-bottom: 20px;
}

.card:active {
    transform: scale(0.98);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img .imgPrincipal{
    width: 100%;
    height: auto;
    padding-top: 10px;
}

.card h2 {
    font-size: 2.4rem;
    margin: 1rem;
}

.card p {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    flex-grow: 1;
    margin: 1rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--white);
    bottom: 1rem;
    width: 80%;
    align-self: center;
}

.card-footer .price {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--gray);
}

.price {
    font-size: 1.2rem;
    color: var(--dark-gray);
}

.card img .logo {
    width: 2rem; 
    height: auto;
    bottom: 1rem;
    right: 1rem;
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 2rem);
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        gap: 1rem;
    }

    .filters {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    
    html {
        font-size: 50%; 
    }

    .cards-section h1 {
        font-size: 3rem; 
        text-align: center;
    }

    .card {
        width: 100%;
    }
}